{{template "app" .}}

{{define "content"}}
<div class="container">
  <div class="d-flex flex-wrap">
    <div class="left-side px-2">
      {{range $index, $user := .Users}}
      <a style="text-decoration: none;" href="/users/{{$user.Id}}">
        <div class="card user-card mb-3">
          <div class="d-flex align-items-center">
            <div class="w10 text-center">
              <div>{{$user.Id}}</div>
            </div>
            <div class="w20 text-center">
              <img src="/media/user/{{$user.Image}}" alt="カードの画像" class="avatar card-img-top">
            </div>
            <div class="w30 text-center">
              <div>{{$user.Name}}</div>
            </div>
            <div class="font14 w40 text-center">
              <div>{{len $user.Posts}}投稿</div>
            </div>
          </div>
        </div>
      </a>
      {{end}}
    </div>
    <div class="main px-2">
      {{range $index, $post := .Posts}}
      <a style="text-decoration: none;" href="/users/{{$post.User.Id}}/{{$post.Id}}">
        <div class="card mb-3">
          <div class="d-flex">
            <div>
              <img src="/media/post/{{$post.Image}}" alt="..." class="rounded-start" style="object-fit: cover;width: 200px;height: 200px;">
            </div>
            <div class="card-body" style="flex-direction: column;display: flex;">
              <h4 class="card-title">{{$post.Title}}</h4>
              <p class="card-title">{{$post.Language}}</p>
              <p class="card-text"><small class="text-muted">最終更新 {{$post.CreatedAt.Format "2006/01/02"}}</small></p>
              <div class="d-flex align-items-center user-bottom">
                <a style="text-decoration: none;position: absolute;top: 0;bottom: 0;right: 0;left: 0;display: block;" href="/users/{{$post.User.Id}}"></a>
                <div class="w10 text-center">
                  <div>{{$post.User.Id}}</div>
                </div>
                <div class="w20 text-center">
                  <img src="/media/user/{{$post.User.Image}}" alt="カードの画像" class="avatar card-img-top">
                </div>
                <div class="w20 text-center">
                  <div>{{$post.User.Name}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      {{end}}
    </div>
  </div>
</div>
<script type="text/javascript">
  var sock = null;
  var myData = "";
  function sendMessage() {
    var s = {"Name": "Rio", "Message": "Hello world"};
    sock.send(JSON.stringify(s));
  }
  window.onload = function() {
    sock = new WebSocket("ws://localhost:8080/chat");
    sock.onmessage = function(event) {
      var data = JSON.parse(event.data);
      myData = data.myData;
      console.log(data)
    };
  };
</script>
{{end}}