{{template "app" .}}

{{define "content"}}
<div class="container">
  <div class="px-2">
    {{range $index, $user := .Users}}
    <a style="text-decoration: none;" href="">
      <div class="card user-card">
        <div class="d-flex align-items-center">
          <div class="w10 text-center">
            <div>{{$user.Id}}</div>
          </div>
          <div class="w20 text-center">
            <img src="/media/user/{{$user.Image}}" alt="カードの画像" class="avatar card-img-top">
          </div>
          <div class="w20 text-center">
            <div>{{$user.Name}}</div>
          </div>
          <div class="font14 w50 text-center">
            <div>{{len $user.Posts}}投稿</div>
          </div>
        </div>
      </div>
    </a>
    {{end}}
  </div>
</div>

{{end}}