.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  width: 100%;
}

.card-inner {
  padding: 2em 1.5em 1em;
}

.mv {
  background-image: url(/static/images/main.jpg);
  background-size: cover;
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
}

a {
  text-decoration: none;
}
.w100 {
  width: 100%;
}

.w50 {
  width: 48%;
}

.w40 {
  width: 40%;
}

.w30 {
  width: 30%;
}

.w20 {
  width: 20%;
}

.w10 {
  width: 10%;
}

.font14 {
  font-size: 14px;
}

.pr1 {
  padding-right: 10px;
}

.user-card {
  padding: 10px;
  color: black;
}

.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
}

.left-side {
  width: 40%;
}

.main {
  width: 60%;
}

.user-bottom {
  margin-top: auto;
  position: relative;
  border: #f8f9fa 1px solid;
  border-radius: 5px;
  background-color: #f8f9fa;
  padding: 7px;
  transition: all .5s;
}

.user-bottom:hover {
  opacity: 0.5;
  transition: all .5s;
}


@media screen and (max-width:1200px) { 
  .left-side {
    order: 2;
    width: 40%;
  }
  
  .right-side {
    order: 3;
    width: 100%;
  }
  
  .main {
    order: 1;
    width: 60%;
  }
}

@media screen and (max-width:768px) { 
  .left-side {
    order: 2;
    width: 100%;
  }
  
  .right-side {
    order: 3;
    width: 100%;
  }
  
  .main {
    order: 1;
    width: 100%;
  }
}